* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #111;
  display: flex;
}

nav {
  width: 5vw;
  height: 100vh;
}

.nav-bar {
  width: 5vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button {
  color: black;
}

.nav-links {
  width: 30vw;
  background-color: rebeccapurple;
  height: 100vh;
  position: absolute;
  transform: translateX(-30vw);
  transition: transform 200ms ease-in-out;
  z-index: 9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-move {
  transform: translateX(5vw);
}

.content {
  width: 95vw;
  height: 100vh;
}

.name {
  font-size: 5rem;
  font-weight: bolder;
  font-family: "Josefin Sans", sans-serif;
  margin: 50px 10px;
}
