.blog {
  width: 500px;
  margin: 10px auto;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog1 {
  background: url("../src/wildlife.jpg");
  background-size: cover;
}
.blog2 {
  background: url("../src/nature.jpg");
  background-size: cover;
}

.blog-content {
  height: inherit;
  width: 60%;
  text-align: justify;
  background-color: rgba(240, 248, 255, 0.8);
  padding: 20px;
  transition: 200ms ease-in-out;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
}

.blog-content a {
  width: 35%;
  text-align: center;
  padding: 5px;
  font-weight: 100;
  font-size: 0.8rem;
  background-color: blue;
}

.blog:hover .blog-content {
  transform: translateX(0);
}

.blog-content p {
  font-size: 0.8rem;
}

.arrow {
  position: absolute;
  right: 15%;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: opacity 400ms ease-in-out 300ms, transform 300ms ease-in-out;
}

.blog:hover .arrow {
  opacity: 0;
  transform: translateX(-60vw);
}
