.in-blog-section {
  width: 90%;
  padding-bottom: 10vh;
  margin: auto;
}

.img-container {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.blog-title {
  font-size: 2rem;
  color: black;
  width: 100%;
  padding: 10px;
}
