* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: aliceblue;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

nav {
  width: 5vw;
  height: 100vh;
  background-color: #000;
}

.nav-bar {
  width: 5vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button {
  margin-top: 80vh;
  cursor: pointer;
}
.nav-links {
  width: 30vw;
  background: linear-gradient(
    90deg,
    #000,
    rgba(0, 0, 0, 0.76),
    rgba(0, 0, 0, 0)
  );
  height: 100vh;
  position: absolute;
  transform: translateX(-30vw);
  transition: transform 200ms ease-in-out;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-links ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.nav-links ul li a {
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-move {
  transform: translateX(5vw);
}

.content {
  width: 95vw;
  background: radial-gradient(circle at center, rgb(39, 39, 39), black);
  background-size: cover;
  transition: 200ms ease-in-out;
}

.content .pages {
  transition: transform 500ms ease-in-out;
  transition-delay: 200ms;
}
.content .pages .page {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content .pages .page::-webkit-scrollbar {
  width: 5px;
}

.content .pages .page::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

.content-filter {
  filter: brightness(15%);
}

.page-title {
  font-size: 6rem;
  font-weight: bolder;
  text-align: right;
  /* font-family: "Josefin Sans", sans-serif; */
  letter-spacing: 2px;
  line-height: 100%;
  margin: 40px 50px 0 0;
}

.burger > * {
  width: 20px;
  height: 3px;
  background-color: aliceblue;
  border-radius: 2px;
  margin: 3px;
  transition: 200ms ease-in-out;
}

.b-anim .line2 {
  opacity: 0;
}

.b-anim .line1 {
  transform: rotate(45deg) translate(5px, 4px);
}

.b-anim .line3 {
  transform: rotate(-45deg) translate(5px, -4px);
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  nav {
    width: 100vw;
    height: 10vh;
  }
  .nav-bar {
    width: 100vw;
    height: 10vh;
  }

  .content {
    width: 100vw;
  }
  .nav-links {
    width: 100vw;
    height: 30vh;
    transform: translateY(-50vh);
  }

  .nav-move {
    transform: translateY(10vh);
  }
  .nav-links ul {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .menu-button {
    margin-top: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 50;
  }
  .page-title {
    margin: 12vh 0 0 0;
    text-align: center;
    font-size: 3rem;
  }
}
