.items-container {
  width: 60vw;
  margin-left: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  width: 250px;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.wrapper .card {
  width: 200px;
  height: 250px;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
  transition: 500ms ease-in-out;
}

.wrapper .card:hover {
  transform: translateY(20px);
}

.wrapper .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 179, 155, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 500ms all ease-in-out;
  opacity: 0;
}

.wrapper .card1::before {
  background: linear-gradient(
    to bottom,
    rgba(0, 87, 248, 0.5),
    rgb(185, 0, 176)
  );
}

.wrapper .card2::before {
  background: linear-gradient(
    to bottom,
    rgba(0, 128, 248, 0.233),
    rgb(3, 0, 185)
  );
}

.wrapper .card3::before {
  background: linear-gradient(
    to bottom,
    rgba(255, 251, 0, 0.233),
    rgb(185, 0, 0)
  );
}

.wrapper .card4::before {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.233),
    rgba(46, 0, 0, 0.692)
  );
}

.wrapper .card-soon::before {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.233),
    rgba(0, 0, 0, 0.555)
  );
}

.wrapper .card:hover::before {
  opacity: 1;
}

.wrapper .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: all 500ms ease-in-out;
}

.wrapper .card:hover .info {
  transform: translateY(0);
  opacity: 1;
}

.wrapper .card .info {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.wrapper .card .info p {
  font-size: 0.8rem;
  margin-bottom: 12px;
}

.wrapper .card .info > * {
  margin: 5px 0;
}

.wrapper .card .info .item-links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.wrapper .card .info .item-links .btn {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.418);
  color: white;
  text-shadow: none;
  transition: background-color 300ms ease-in-out;
}

.wrapper .card .info .item-links .btn:hover {
  background-color: rgba(255, 255, 255, 0.616);
}
